.admin-page {
    background-color: #8b6347;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-form-container {
    background-color: #a07050;
    padding: 32px;
    border-radius: 12px;
    width: 400px;
}

.admin-form-container h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-form label {
    color: #f5f0eb;
    font-size: 0.85rem;
}

.admin-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 100%;
}

.admin-form button {
    margin-top: 12px;
    background-color: #7a2020;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}